<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1241},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1064},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1026},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1026},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1026},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1026},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,898},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,898},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,898},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,898},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,887},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,770},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,770},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,770},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,770},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,710},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,642},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,642},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,642},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,642},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,533},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,514},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,514},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,514},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,514},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,386},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,386},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,386},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,386},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,356},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,258},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,258},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,258},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,258},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,179},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,130},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,130},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,130},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,130},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,2},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
            <key>poker_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,175}}</string>
                <key>sourceSize</key>
                <string>{126,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pokers.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2e9669ebf8bacf93cef068ee67fb20a$</string>
            <key>textureFileName</key>
            <string>pokers.png</string>
        </dict>
    </dict>
</plist>
